@font-face {
    font-family: "Google Sans Code";
    src: url("../fnt/GoogleSansCode.ttf") format("truetype");
}


th, td {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

td {
    border-right: 1px solid var(--outline-color);
}

td:last-of-type {
    border-right: none;
}

.leetcode-header th {
    border-bottom: 1px solid var(--outline-color);
    border-right: 1px solid var(--outline-color);
}

.leetcode-header th:last-of-type {
    border-right: none;
}

.leetcode-attempt {
    position: relative;
    height: 50px;
}

.problem-number {
    padding-left: 15px;
}

.leetcode-attempt::after {
    position: absolute;
    content: "";
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 4px;

    background-color: var(--outline-color);
}

.leetcode-attempt.easy::after {
    background-color: var(--color-easy);
}

.easy.difficulty-chip {
    background-color: var(--color-easy-dim);
    border: none;
}

.leetcode-attempt.medium::after {
    background-color: var(--color-medium);
}

.medium.difficulty-chip {
    background-color: var(--color-medium-dim);
    border: none;
}

.leetcode-attempt.hard::after {
    background-color: var(--color-hard);
}

.hard.difficulty-chip {
    background-color: var(--color-hard-dim);
    border: none;
}

tbody tr:nth-child(even) {
    background-color: var(--dim-color);
}

.leetcode-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.difficulty-chip {
    text-align: center;
    border-radius: 50px;
    padding: 0.3rem 0.6rem;
    border: 1px solid var(--outline-color);
}

.page-subtitle-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

pre.code {
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 2px;
    white-space: pre;
    position: relative;
    outline: 1px solid var(--outline-color);
    outline-offset: -1px;
    border: none;
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 0;
    display: block;

    overflow: auto;
}

.code-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.code-solution-language {
    padding: 0.3rem 0.6rem;
    border-right: 1px solid var(--outline-color);
    border-bottom: transparent;
    z-index: 10;
    font-size: 0.8rem
}

.code-container:has(.code-solution-language) pre.code {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.language-container {
    height: max-content;
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    background-color: var(--bg--color);
    border: 1px solid var(--outline-color);
    border-bottom: 0;
    border-radius: 0.25rem 0.25rem 0 0;
}

.code * {
    font-family: "Google Sans Code", 'Courier New', Courier, monospace;
    background-color: none;
    font-size: 0.8rem
}

.hidden {
    display: none;
}

@media screen and (max-width: 800px) {
    .code * {
        font-size: 0.6rem
    }

    .language-container .code-solution-language {
        font-size: 0.6rem;
    }
}