/* Sheet for project page style */

.page-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.page-subtitle {
    font-size: 1rem;
    font-weight: normal;
    color: #808080;
    font-style: italic;
}

.page-note {
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    color: #808080;
}

.page-header {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
}

.page-cta {
    font-size: 1rem;
    font-weight: normal;
    opacity: 80%;
}

.page-body {
    font-size: 1rem;
    font-weight: normal;
    opacity: 80%;
}

.project-image {
    object-fit: cover;
    object-position: center;
    flex: 1;
    width: 100%;
}

.project-cover {
    object-fit: cover;
    object-position: center;
    flex: 1;
    width: 100%;
    max-height: 300px;
}

.headshot {
    position:relative;
    width: 100%;
    height: 100%;
    max-width: 250px;
}

.headshot-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

/* Skills */
.skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.skill {
    border-radius: 2px;
    border: 1px solid var(--outline-color);
    padding: 1.25rem;
    padding-bottom: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.skill:hover {
    background-color: color-mix(in srgb, var(--outline-color) 50%, rgba(255, 255, 255, 0));
}

.skill-title {
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    line-break: auto;
}

.skill-icon-holder {
    display: flex;
    align-items: center;
}

.skill-subtitle {
    font-size: 1rem;
    font-weight: normal;
    color: #808080;
    line-break: auto;
}

.skill-subtitle.atlassian-blue {
    color: var(--atlassian-blue);
}

.skill-beans {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.skill-bean-token {
    font-size: 0.8rem;
    border-radius: 50px;
    padding: 0.3rem 0.6rem;
    border: 1px solid var(--outline-color);
}

.experience-date {
    font-size: 1rem;
    font-weight: normal;
    color: #808080;
}

.experience-title-holder {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .skill-title {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}