<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home | martyn</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
</head>

<script>
    function includeHTML() {
        var z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
        elmnt = z[i];
        /*search for elements with a certain atrribute:*/
        file = elmnt.getAttribute("w3-include-html");
        if (file) {
            /*make an HTTP request using the attribute value as the file name:*/
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
                if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                /*remove the attribute, and call this function once more:*/
                elmnt.removeAttribute("w3-include-html");
                includeHTML();
            }
            }      
            xhttp.open("GET", file, true);
            xhttp.send();
            /*exit the function:*/
            return;
        }
        }
    };
</script>

<body>
    <!-- <div class="portfolio">
        <div id="tab2025" class="page filter-pane">
            <div class="info always-on">
                <h2 class="title">Current Projects</h2>
                <sub class="subtitle">Completed or Working on</sub>
            </div>
        </div>

        <%- include('partials/project', {
        name: 'Bloodshot', subtitle: 'Game, Windows', year: '2025', image: '/img/bloodshot.png',
        links: [
        { url: 'https://itch.io', text: 'Presskit' },
        { url: '/more-info', text: 'Publisher Demo' },
        { url: '/more-info', text: 'More Info' }
        ]
        }) %>

        <div id="tab2024" class="page filter-pane">
            <div class="info always-on">
                <h2 class="title">2024 Works</h2>
            </div>
        </div>

        <%- include('partials/project', {
        name: 'Grape Expectations!', subtitle: 'Application, Linux', year: '2024', image: '/img/bloodshot.png',
        links: [
        { url: 'https://itch.io', text: 'Presskit' },
        { url: '/more-info', text: 'Publisher Demo' },
        { url: '/more-info', text: 'More Info' }
        ]
        }) %>

        <%- include('partials/project', {
        name: 'Alchemess', subtitle: 'Game, Windows, Web', year: '2024', image: '/img/alchemess.png',
        links: [
        { url: 'https://itch.io', text: 'Link to itch.io' },
        { url: '/more-info', text: 'More Info' }
        ]
        }) %>

        <div id="tab2022" class="page filter-pane">
            <div class="info always-on">
                <h2 class="title">2022 Works</h2>
            </div>
        </div>

        <%- include('partials/project', {
        name: 'Peter\'s Quest', subtitle: 'Game, Windows, Web', year: '2022', image: '/img/petersquest.png',
        links: [
        { url: 'https://itch.io', text: 'Link to itch.io' },
        { url: '/more-info', text: 'More Info' }
        ]
        }) %>

        <div id="tab2021" class="page filter-pane">
            <div class="info always-on">
                <h2 class="title">2021 Works</h2>
            </div>
        </div>

        <%- include('partials/project', {
        name: 'ULTRAFORCE: OBLITERATION', subtitle: 'Game, Windows, Web', year: '2021', image: '/img/roguebots.png',
        links: [
        { url: 'https://itch.io', text: 'Link to itch.io' },
        { url: '/more-info', text: 'More Info' }
        ]
        }) %>

        <%- include('partials/project', {
        name: 'Untitled Ninja Game', subtitle: 'Game, Windows', year: '2021', image: '/img/roguebots.png',
        links: [
        { url: 'https://itch.io', text: 'Link to itch.io' },
        { url: '/more-info', text: 'More Info' }
        ]
        }) %>

        <%- include('partials/project', {
        name: 'Claret', subtitle: 'Game, Web', year: '2021', image: '/img/claret.png',
        links: [
        { url: 'https://itch.io', text: 'Link to itch.io' },
        { url: '/more-info', text: 'More Info' }
        ]
        }) %>

        <%- include('partials/project', {
        name: 'Sunnyside vs. The Eggies', subtitle: 'Game, Web', year: '2021', image: '/img/sunnyside.png',
        links: [
        { url: 'https://itch.io', text: 'Link to itch.io' },
        { url: '/more-info', text: 'More Info' }
        ]
        }) %>

        <%- include('partials/project', {
        name: 'Cable Boy', subtitle: 'Game, Windows', year: '2021', image: '/img/cableboy.png',
        links: [
        { url: 'https://itch.io', text: 'Link to itch.io' },
        { url: '/more-info', text: 'More Info' }
        ]
        }) %>

        <%- include('partials/project', {
        name: 'Musculus', subtitle: 'Game, Windows', year: '2021', image: '/img/musculus.png',
        links: [
        { url: 'https://itch.io', text: 'Link to itch.io' },
        { url: '/more-info', text: 'More Info' }
        ]
        }) %>

        <div id="tab2020" class="page filter-pane">
            <div class="info always-on">
                <h2 class="title">-2020 Works</h2>
            </div>
        </div>
        <div class="page" style="background-image: url('/img/ceptor.png');">
            <div class="info">
                <h2 class="title">Ceptor</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
        <div class="page" style="background-image: url('/img/acumen.png');">
            <div class="info">
                <h2 class="title">Acumen</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
        <div class="page" style="background-image: url('');">
            <div class="info">
                <h2 class="title">Bump in the Night</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
        <div class="page" style="background-image: url('');">
            <div class="info">
                <h2 class="title">Rogue Road</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
        <div class="page" style="background-image: url('');">
            <div class="info">
                <h2 class="title">Paper Fort</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
        <div class="page" style="background-image: url('');">
            <div class="info">
                <h2 class="title">Terrene</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
        <div class="page" style="background-image: url('');">
            <div class="info">
                <h2 class="title">RED SPACE</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
        <div class="page" style="background-image: url('');">
            <div class="info">
                <h2 class="title">Gun Gun</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
        <div class="page" style="background-image: url('');">
            <div class="info">
                <h2 class="title">DEVASTATION NATION</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
        <div class="page" style="background-image: url('');">
            <div class="info">
                <h2 class="title">100 Bullets</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
        <div class="page" style="background-image: url('/img/realmsofrequiem.png');">
            <div class="info">
                <h2 class="title">Realms of Requiem</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
        <div class="page" style="background-image: url('');">
            <div class="info">
                <h2 class="title">BLAMM</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
        <div class="page" style="background-image: url('');">
            <div class="info">
                <h2 class="title">Blazin' Aces</h2>
                <sub class="subtitle">Game, Windows</sub>
                <ul>
                    <li class="link"><a href="">Link to itch.io</a></li>
                    <li class="link"><a href="">More Info</a></li>
                </ul>
            </div>
        </div>
    </div> -->

    <div w3-include-html="partials/navbar.html"></div> 

    <script src="/js/page-controller.js"></script>
    <!-- <script src="/js/projects.js"></script> -->

    <footer>
        <div class="links">
            <a href="https://github.com/SlickRamen">github</a>
            <a href="https://www.linkedin.com/in/martyn-gascoigne-7732772a8/">linkedin</a>
            <a href="#">email</a>
            |
            <a id="p2025" href="#tab2025">current projects</a>
            <a id="p2024" href="#tab2024">2024</a>
            <a id="p2023" href="#tab2023">2023</a>
            <a id="p2022" href="#tab2022">2022</a>
            <a id="p2021" href="#tab2021">2021</a>
            <a id="p2020" href="#tab2020">pre. 2020</a>
        </div>
        <div class="copyright">
            made and designed by martyn gascoigne [2025]
        </div>
    </footer>

</body>

</html>