
@font-face {
  font-family: 'portfolio-grom';
  src: url('portfolio-grom.woff2') format('woff2'),
       url('portfolio-grom.woff') format('woff'),
       url('portfolio-grom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'portfolio-grom' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.use-line-height {
  line-height: 1;
}

.icon-email:before { content: "\e900"; }
.icon-github-mark:before { content: "\e901"; }
.icon-link:before { content: "\e902"; }
.icon-linkedin:before { content: "\e903"; }
.icon-redirect:before { content: "\e904"; }